@model DonorManager2024.Models.DonorRelated.DonorFlags

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonorFlags</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlagId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlagId)
        </dd> *@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlagName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlagName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visibility)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visibility)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>
        @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor.DonorId)
        </dd> *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FlagId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
