@model DonorManager2024.Models.Transactions

@{
    ViewData["Title"] = "Details";
}

<h1>Transaction Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PledgeAmt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PledgeAmt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PledgeBalance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PledgeBalance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckRouteNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckRouteNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckAcctNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckAcctNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecordType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecordType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TransExpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TransExpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GiftSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GiftSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PetitionFlag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PetitionFlag)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Donor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Donor.PrimaryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Campaign.CampaignName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchId)
        </dd>        
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KeyCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KeyCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ListId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ListId)
        </dd> 
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>*@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TransId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
