@model DonorManager2024.Models.Batches

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Batches</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BatchId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PromoCat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PromoCat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActualAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActualAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositError)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositError)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenderTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenderTypeID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BatchDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BatchDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BatchId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
